# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

#ignore all certificates
e-reg-backend/credentials/

#ignore all node_modules
e-reg-backend/node_modules/
e-reg-frontend/node_modules/